h1 {
	text-align: center;
	background-color: lightgrey;
	height: 100px;
	line-height: 100px;
	border-radius: 15px
}

body {
	background-color: #c1984d;
}

button {
	background-color: lightblue;
}

#add {
	width:120px;
	height: 50px;
	font-size: 15px;
	border-radius: 15px;
}